.form__close-popup {
    margin: -40px -40px 0 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: black;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    border: 1px solid #fff;
}