.header {
    display: grid;
    width: 70%;
    max-height: 74px;
    margin: 45px auto  0 auto;
}

@media screen and (max-width: 920px) {
    .header {
        width: 80%;
    
}
}
@media screen and (max-width: 320px) {
    .header {
        width: 320px;
      margin: 28px 0 0 0;
      
    }
}